html {
  //font-size: 87.5%;
  @include breakpoint('xxlarge') {
    //font-size: 112.5%;
  }

  // @include breakpoint('tablet') {
  //   font-size: 87.5%;
  // }
  // @include breakpoint('large') {
  //   font-size: 100%;
  // }
  // @include breakpoint('xxlarge') {
  //   font-size: 112.5%;
  // }

  @include breakpoint('xxxlarge') {
    font-size: 112.5%;
  }
}

body {
  //background-image: url('../images/bgpattern.jpg');
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-attachment: fixed;
  //background-blend-mode: multiply;

  background-image: linear-gradient(0deg, rgba(#732a3d,.5) 0%, rgba(#5b1b2a,.5) 51%, rgba(#430c16,.5) 100%), url('../images/bg_h800.jpg') ;

  @include breakpoint('tablet') {
      background-image: linear-gradient(0deg, rgba(#732a3d,.5) 0%, rgba(#5b1b2a,.5) 51%, rgba(#430c16,.5) 100%), url('../images/bg_mobile.jpg') ;
  }
}

.lightbg {
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-color: $secondary-color;
  background-image: linear-gradient(180deg, rgba($secondary-color,.8), rgba($secondary-color,.8)), url('../images/bg_h800_light.jpg');

  @include breakpoint('tablet') {
      background-image: linear-gradient(180deg, rgba($secondary-color,.8), rgba($secondary-color,.8)), url('../images/bg_mobile_light.jpg');
  }
}

.row {
  @include breakpoint('medium') {
    max-width: 90%;
    .row {
      max-width: $global-width;
    }
  }
  // @include breakpoint('tablet') {
  //   max-width: 85%;
  //   .row {
  //     max-width: $global-width;
  //   }
  // }
  // @include breakpoint('large') {
  //   max-width: 90%;
  //   .row {
  //     max-width: $global-width;
  //   }
  // }

  @include breakpoint('xxxlarge') {
    max-width: 85rem;
  }
}

.shadowed {
  box-shadow: inset 0 -.25rem .5rem -.25rem rgba(#000,.666), inset 0 .25rem .5rem -.25rem rgba(#000,.666);
}

.button {
  font-family: $jaapokki;
  text-transform: uppercase;
  font-weight: normal;
}



.button {
  box-shadow: 0 0 2px 0 rgba(#000,.25);
  &.alert {
    color:$secondary-color;
    &:hover, &:focus {
      background-color: $warning-color;
      color:$white;
    }
  }
}


legend {
  color:$warning-color;
  text-transform: uppercase;
}