.cookieblock {
  padding:1.25rem 0 .875rem;
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  background-color: #002a5a;
  font-size: .875rem;
  z-index: 1000;

  p {
    //float:left;
    margin:0;
  }
  .button {
    clear:right;
    float:right;
    margin: 1em 0 0 6%;
    @include breakpoint(tablet) {
      clear:none;
      margin: 0 0 0 6%;
    }
  }
  .cmore {
    max-width:25%;
    text-align:right;
    float:right;
    color:$white;
    margin: 0 0 0 2%;
    text-decoration:underline;
    @include breakpoint(tablet) {
      margin: .5rem 0 0 2%;
    }
  }
}