@font-face {
  font-family: 'MuseoSlab-500';
  src: url('../fonts/MuseoSlab-500.eot');
  src: url('../fonts/MuseoSlab-500.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSlab-500.woff2') format('woff2'),
       url('../fonts/MuseoSlab-500.woff') format('woff'),
       url('../fonts/MuseoSlab-500.ttf') format('truetype'),
       url('../fonts/MuseoSlab-500.svg#MuseoSlab-500') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Jaapokki-Regular';
  src: url('../fonts/Jaapokki-Regular.eot');
  src: url('../fonts/Jaapokki-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Jaapokki-Regular.woff2') format('woff2'),
       url('../fonts/Jaapokki-Regular.woff') format('woff'),
       url('../fonts/Jaapokki-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'LakesightPersonalUseOnly';
    src: url('../fonts/lakesight_personaluseonly.eot');
    src: url('../fonts/lakesight_personaluseonly.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lakesight_personaluseonly.woff2') format('woff2'),
         url('../fonts/lakesight_personaluseonly.woff') format('woff'),
         url('../fonts/lakesight_personaluseonly.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}