.pagehead {
   padding:5vh 0;
}

.headstart {
  text-align: center;
  overflow: hidden;
  padding:5vh 0;
}

.headstart__portrait {
  margin-bottom: 1rem;
  max-width: 6rem;
}
.headstart__titulus {
  text-transform: uppercase;
  font-size: .75rem;
  line-height: 1;
  display: block;
  margin-bottom: .25rem;
}
.headstart__name {
  color:$secondary-color;
  font-family: $lakesight;
  line-height: 1;
  font-size: 1.5rem;
  margin:0 0 .25rem;
}

.headstart__more {
  color:$white;
  font-size: .75rem;
  line-height: 1;
  color:$alert-color;
  display: block;
}
.headstart h3 {
  position: relative;
  margin:2.25rem 0 2.25rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1;
  position: relative;
  display: inline-block;
  &:after, &:before {
    z-index: -1;
    content:'';
    position: absolute;
    top:45%;
    width:200%;
    height:1px;
    background-color: rgba($alert-color,.75);
  }
  &:before {
    right:120%;
  }
  &:after {
    left:120%;
  }
}
.headstart__ill {
  max-width: 90%;
  margin:0 auto 1.5rem;
  display: block;
}

.headstart__start {
  max-width: 12rem;
}

.headmain {
  position: relative;
  padding:5vh 0;
  @include breakpoint('xlarge') {
    //margin-bottom:0;
  }
}
.headmain__title {
  font-size: 1.125rem;
}

.headmain__videowrap {
  margin-bottom: 1.5rem;
  background-color: #000;
}

.headmain__movie__share {
  position: absolute;
  right:0;
  font-size: .875rem;
  a {
    color:$alert-color;
    &:hover, &:focus {
      color:$warning-color;
    }
  }
}

.headmain__movie__title {
  font-size:1.25rem;
  color:$secondary-color;
  text-transform: uppercase;
  margin:0 0 .125rem;
  padding-right: 5rem;
}

.headmain__movie__lead {
  margin-bottom: 1.25rem;
  font-size: .875rem;
}


.headsprods {


  @include breakpoint('xlarge') {
    padding:5vh 0;
    .producttile {
      text-align: left;
    }

    .producttile__imglink {
      width:33.333%;
      float:left;
      margin:0 1rem 0 0;
    }

  }
}