@font-face {
    font-family: 'tchiboicons';
    src:
        url('../fonts/tchiboicons.ttf?4slj66') format('truetype'),
        url('../fonts/tchiboicons.woff?4slj66') format('woff'),
        url('../fonts/tchiboicons.svg?4slj66#tchiboicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'tchiboicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon--coffee:before {
    content: "\e900";
}
.icon--insta:before {
    content: "\e901";
}
.icon--cross:before {
    content: "\e902";
}
.icon--hamburger:before {
    content: "\e903";
}
.icon--fb_circle:before {
    content: "\e904";
}
.icon--user:before {
    content: "\e905";
}
.icon--fb:before {
    content: "\e906";
}

