.producttile {
  @include clearfix();
  text-align: center;
  margin:0 0 2rem;
}


.producttile__imglink {
  border:1px solid $secondary-color;
  display: block;
  padding:1px;
  margin-bottom: .75rem;
  transition: all .4s ease;
  &:hover, &:focus {
    border-color: $warning-color;
  }

}

.producttile__name {
  font-size: 1rem;
  margin:0 0 .25rem;
  min-height: 2rem;
  color:$secondary-color;
  letter-spacing:.075em;
  .lightbg & {
    color:$warning-color;
  }
}

.producttile__more {
  font-size: .875rem;
  line-height: 1;
  color:$success-color;
  white-space:nowrap;
  &:before {
    content:'» '
  }
  &:hover, &:focus {
    color:$secondary-color;
    .lightbg & {
      color:$primary-color;
    }
  }

}