.thequiz {

  opacity: 0;
  transition: opacity .2s ease;
  &.jollathato {
    opacity:1;
  }
}

.quizstarter {
  padding: 12vh 0;
}
.thequiz__heroimg {
  max-width: 33.333%;

  @include breakpoint(tablet) {
    max-width: 100%;
  }
}
.thequiz__title {
  font-size: 2.333rem;
  letter-spacing:.075em;

  max-width: 36rem;
  margin-bottom: 1.5rem;

  text-transform: uppercase;
}

.thequiz__start {
  margin-top: 1rem;
}

.quiz {
  padding: 12vh 0;
}

.quiz__title {
  text-align:center;
  text-transform:uppercase;
  margin-bottom:.5rem;
}


.quiz__instructions {
  color:$warning-color;
  text-align: center;
}
.question__block {
  //background-color: $secondary-color;
  background-image: url('../images/question_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  @include clearfix();
  @include fieldset();

  display: none;
  opacity: 0;
  transition: opacity .4s ease .2s;
  &.active {
    display: block;
    opacity: 1;
  }
}

.question {
  text-transform:uppercase;
  font-size: 1rem;
  font-weight:bold;

  position: relative;

  margin-bottom: 2.5rem;
  padding: 0 0 0 3rem;

  color: $warning-color;
  span {
    font-size: 1rem;
    line-height: 1.9;

    position: absolute;
    top: 33.333%;
    left: 0;

    display: block;

    width: 1.875em;
    height: 1.875em;

    transform: translateY(-50%);
    text-align: center;
    text-transform: uppercase;

    color: $warning-color;
    border-radius: 50%;
    background-color: $white;
  }
}

.answers {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.answer {
  line-height: 1;

  position: relative;

  display: block;

  margin: 0 0 1.25rem;


  cursor: pointer;
  //transition: all .4s ease;

  label {
    position: relative;
    padding: 0 0 0 3rem;
    line-height: 1.25;
    letter-spacing:0;

    display: inline-block;

    margin: 0;

    cursor: pointer;
    transition: all .2s ease-in;
    &:before {
      font-size: 1rem;
      line-height: 1.9;

      position: absolute;
      top: 50%;
      left: 0;

      display: block;

      width: 1.875em;
      height: 1.875em;

      content: attr(data-value);
      transition: all .2s ease-in;
      transform: translateY(-50%);
      text-align: center;
      text-transform: uppercase;

      border-radius: 50%;
      background-color: $warning-color;
    }
    &:hover, &:focus {
      &:before {
        color: $warning-color;
        background-color: $alert-color;
      }
    }
  }


  input[type='radio'] {
    position: absolute;
    left: -9999px;

    visibility: hidden;

    opacity: 0;
    &:checked + label {
      color: $warning-color;
      &:before {
        color: $primary-color;
        background-color: darken(#e2f54a,18%);
      }
    }
  }
}



.answer.vertical {
  float: left;

  width: 50%;
  margin: 0 0 1.5rem 0;


  text-align: center;

  &:nth-child(2n+1) {
    clear: left;
  }

  @include breakpoint(medium) {
    width: 25%;
    &:nth-child(2n+1) {
      clear: none;
    }
  }
  label {
    padding: 2.5rem 0 0 0;
    display: block;
    &:before {
      top: 0;
      left: 50%;

      transform: translateX(-50%);
    }
    img {
      display: block;

      max-width: 70%;
      margin: 0 auto .5rem;
    }
  }
}



.stations {
  text-align: center;
  //margin:2rem 0;
  a {
    position: relative;
    //font-family: $jaapokki;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2;
    letter-spacing:0;

    display: inline-block;
    //float:left;
    //padding-left: .075em;
    margin:0 .875% .875%;
    width: 1.875em;
    height: 1.875em;

    text-align: center;

    color: $white;
    border-radius: 50%;
    background-color: $secondary-color;
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &.active {
      background-color: $warning-color;
    }
    &:after {
      content:'';
      position: absolute;
      width:1.5em;
      height:1px;
      background-color: $secondary-color;
      top:50%;
      left:100%;
      z-index: -1;
    }
  }
}
