.tophead {
  @include clearfix();
  position: relative;
  background-color: $primary-color;
  @include breakpoint(tablet) {
    //min-height: 7rem;
  }
}

.logobrand {
  //position: absolute;
  display: block;
  margin:0 auto 0;
  width: 5.75rem;
  //height: 5.5rem;
  box-shadow: 0 .5rem 1rem 0 rgba(#000,.5);
}

.mobiltchibo {
  max-width: 4.875rem;
  display: block;
  float:left;
  margin-right: 3%;
  @include breakpoint(large) {
    display: none;
  }

}
.logostylist {
  @include clearfix();
  font-family: $jaapokki;
  font-size: 1.75rem;
  line-height: .875;


  padding: .5em 0 .333em;

  display: inline-block;
  margin:0;

  text-transform: uppercase;

  color: $secondary-color;
  //letter-spacing: .0125em;
  a {
    color:inherit;
  }

  span {
    //letter-spacing: normal;
    font-size: 92.5%;

    display: block;

    color: $warning-color;
  }

  @include breakpoint(large) {
    position: absolute;
    top: .75em;
    //background-color: $white;
    background-image:url('../images/flekk.svg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow( 3px 3px 3px rgba(#000,.333));

    font-size: 2.666rem;
    padding: .333em .25em .2em;
    transform:rotate(-1deg);

    .inner {
      transform:rotate(-4deg);
    }
  }

  @include breakpoint(xlarge) {
    font-size: 3.5rem;
    top:.333em;
  }
}

.menutoggle {
  font-size: 1.75rem;
  list-style-type: 1;
  color:#fff;
  display: block;
  float:right;
  padding:1rem 1rem 0 1rem;
  &:hover, &:focus {
    color:$alert-color;
  }
}


.itemstohide {
  overflow: hidden;
  height:0;
  transition: height .4s ease;
  &.show {
    height:14.5rem;
  }
  @include breakpoint('large') {
    &.show {
      height:auto;
    }
  }
  @include breakpoint('large') {
    height:auto;
    padding:0;

  }
}



.tophead__socials {
  margin: 1.33rem .5rem .875rem;
  text-align: right;
  a {
    color:$success-color;
    font-size: 1.5rem;
    line-height: 1;
    display: inline-block;
    margin:0 .333em;
    &:hover, &:focus {
      color:$secondary-color;
    }
  }
}

.sitemenu {
  text-align: right;
  margin:1rem 0 1rem;
  padding:0;
  list-style-type: none;
  @include breakpoint(large) {
    float:right;
    clear:both;
    margin:0 0 .666rem;
  }
  > li {
    margin:0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1;
    display: block;
    @include breakpoint(large) {
      display: inline-block;
      font-size: 1.125rem;
      line-height: 1;
    }
    &.user {
      text-transform: uppercase;
      font-size: .875rem;
      padding-left: .75rem;
      > a {
        padding: 1.25em 1em .5em 2.25em;
      }
    }

    > a {
      position: relative;
      display: block;
      color:white;
      padding:.5em .75em;
      &:hover, &:focus {
        color:$alert-color;
      }

      .icon {
        color:$dark-color;
        font-size: 1.5rem;
        position: absolute;
        left:0;
        top:.333em;
      }
    }
  }
}


