/****** WARP SHADOW ******/

.WarpShadow {
    position: relative;
  -moz-box-shadow: 0 14px 10px -12px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 14px 10px -12px rgba(0,0,0,0.7);
  box-shadow: 0 14px 10px -12px rgba(0,0,0,0.7);
}

.WarpShadow:before, .WarpShadow:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 15px;
  -moz-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.7);
}

.WarpShadow:before {
    right: 10px;
    -moz-transform: rotate(4deg) skewX(4deg);
    -webkit-transform: rotate(4deg) skewX(4deg);
    -o-transform: rotate(4deg) skewX(4deg);
    -ms-transform: rotate(4deg) skewX(4deg);
    transform: rotate(4deg) skewX(4deg);
}

/**  'smallBox' class for boxes with width between 150px - 350px  **/
.smallBox.WarpShadow:before {
    -moz-transform: rotate(8deg) skewX(4deg);
    -webkit-transform: rotate(8deg) skewX(4deg);
    -o-transform: rotate(8deg) skewX(4deg);
    -ms-transform: rotate(8deg) skewX(4deg);
    transform: rotate(8deg) skewX(4deg);
}

.WarpShadow:after {
    left: 10px;
    -moz-transform: rotate(-4deg) skewX(-4deg);
    -webkit-transform: rotate(-4deg) skewX(-4deg);
    -o-transform: rotate(-4deg) skewX(-4deg);
    -ms-transform: rotate(-4deg) skewX(-4deg);
    transform: rotate(-4deg) skewX(-4deg);
}

.smallBox.WarpShadow:after {
    -moz-transform: rotate(-8deg) skewX(-4deg);
    -webkit-transform: rotate(-8deg) skewX(-4deg);
    -o-transform: rotate(-8deg) skewX(-4deg);
    -ms-transform: rotate(-8deg) skewX(-4deg);
    transform: rotate(-8deg) skewX(-4deg);
}

/*** SHADOW PROJECTION LENGTH ***/

.WSmall:before, .WSmall:after {
  width: 150px;
}

.smallBox.WSmall:before, .smallBox.WSmall:after {
  width: 30px;
}

.WMedium:before, .WMedium:after {
  width: 250px;
}

.smallBox.WMedium:before, .smallBox.WMedium:after {
  width: 80px;
}

.WLarge:before, .WLarge:after {
  width: 350px;
}

.smallBox.WLarge:before, .smallBox.WLarge:after {
  width: 130px;
}


/*** SHADOW INTENSITY ***/

.WLight:before, .WLight:after {
  height: 5px;
}

.WNormal:before, .WNormal:after {
  height: 10px;
}

.WDark:before, .WDark:after {
  height: 15px;
}